<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <div>Formulario</div>
    </h1>
    <form action="/visualizar" method="post">
        <fieldset>
            <label class="control-label"><strong>Grados en Farengein</strong></label>
            <input class="form-control form-control-lg" type="text" name="Farengein" placeholder="10" required>
            <br/>
            <label class="control-label"><strong>Grados en Celcius</strong></label>
            <input class="form-control form-control-lg" type="text" name="Celcius" placeholder="10" required>
        </fieldset>
        <button class="btn btn-lg btn-block btn-primary" type="submit">Enviar mensaje</button>

    </form>
</body>
</html>